.main {
    padding: 2vh 2vw;
}

.article {
    display: flex;
    gap: 2vw;
    justify-content: space-between;
}

.article img {
    border-radius: 100px;
    max-height: 300px;
    object-fit: cover;
}

.article p {
    font-size: 22px;
}