.main {
    margin: 5vh 0;
    text-align: center;
}

.main h1 {
    margin: 7vh 0;
}

.booking {
    display: flex;
    padding-bottom: 200px;
}

.booking form {
    min-width: 50%;
}

.booking p {
    text-align: center;
}

