body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  position: relative;
  height: 100vh;
}

#root {
  position: relative;
  min-height: 100vh;
}

:root {
    --btn-color: #e79919;
    --btn-color-blue: #4871e3
}

::selection {
  background-color: var(--btn-color);
  color: white;
}