.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding: 1vh 3vw 5vh;

    padding-bottom: 20vh;
}

.main h1 {
    text-align: center;
}

.slider {
    max-width: 90%;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article span {
    max-width: 60%;
    background-color: var(--btn-color);
    text-align: right;
}

.article span p {
    font-size: 20px;
}

.article span p::selection, .article span h3::selection {
    background-color: white;
    color: var(--btn-color);
}

.article img {
    max-width: 30%;
    object-fit: cover;
}

.article p {
    margin: 0;
}

.toLeft {
    flex-direction: row-reverse;
}

.toLeft span {
    text-align: left;
}